@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administração Financeira</title>

    @Styles.Render("~/Content/css/materialize.min.css")
    @Scripts.Render("~/Content/js/jquery-3.1.1.min.js")
    @Scripts.Render("~/Content/js/angular.min.js")
    @Scripts.Render("~/Content/js/materialize.min.js")
    @Scripts.Render("~/Content/js/angular-materialize.min.js")

    @Scripts.Render("~/Scripts/angular-locale_pt-br.js")
    @Scripts.Render("~/AngularApp/layout/MartinsApp.js")
    @Scripts.Render("~/Scripts/sweetalert2.all.js")
    @Styles.Render("~/Content/css/MaterialIcons.css")
    <script src="@Url.Content("~/AngularApp/login/authService.js")"></script>
    <script src="@Url.Content("~/AngularApp/login/index.js")"></script>

    <link rel="stylesheet" type="text/css" href="../../Content/css/login.css">

</head>
<body>
    <div ng-app="MartinsApp">
        <div ng-controller="Login" id="main">
            <div class="content-page" style="height: 100vh;">
                <div class="row login-page">
                    <div class="col s12 card-panel">
                        <div class="login-form">
                            <div class="row">
                                <div class="input-field col s12 center">
                                    <img src="../../assets/images/logo.png" alt="" class="responsive-img valign profile-image-login icone">
                                </div>
                            </div>
                            <div class="row margin">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">person_pin</i>
                                    <input id="username" type="text" ng-model="user.username" required="" aria-required="true">
                                    <label for="username">Usuário</label>
                                </div>
                            </div>
                            <div class="row margin">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">lock_outline</i>
                                    <input id="password" type="password" ng-model="user.password" required="" aria-required="true">
                                    <label for="password">Senha</label>

                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <button class="btn waves-effect waves-light col s12 botton" ng-click="login(user)">Login</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
