@{
    Layout = null;
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.2/angular-materialize.min.js"></script>

@Scripts.Render("~/AngularApp/layout/MartinsApp.js")
@Scripts.Render("~/AngularApp/AppConstants.js")
@Styles.Render("~/Content/css/selecionaUnidade.css")
@Scripts.Render("~/Scripts/sweetalert2.all.js")
<script src="@Url.Content("~/AngularApp/selecionaUnidade/selecionaUnidade.js")"></script>

<!DOCTYPE html>

<html>
<body ng-app="MartinsApp" ng-controller="SelecionaUnidade">
    <main>
        <div class="container">
            <div class="row">
                <img class="img-logo" src="../../assets/images/logo.png">
            </div>
            <div class="row">
                <div class="section col s2">
                </div>
                <div class="section col s4">
                    <div input-field>
                        <select id="unidadeSelecionada" ng-model="selectedUnidade" ng-change="setaCodigoUnidade(selectedUnidade)" material-select>
                            <option ng-repeat="value in unidades" value="{{value.CodUnidade}}">{{value.DesUnidade}}</option>
                        </select>
                        <label>Unidade de Negócio</label>
                    </div>
                </div>

                <div @*ng-if="contas"*@ class="section col s4">
                    <div input-field>
                        <select id="contaSelecionada" ng-model="selectedConta" material-select>
                            <option ng-repeat="conta in contas" value="{{conta.ContaModel.CodContaContabil}}">{{conta.ContaModel.DescricaoDaContaContabil}}</option>
                        </select>
                        <label>Conta</label>
                    </div>
                </div>
                <div class="section col s2">
                </div>
            </div>
            <div class="row">
                <div class="centered">

                    <button data-target="modal" class="waves-effect waves-light btn blue darken-1 modal-trigger" ng-click="saveOnTheLocalStorage(selectedUnidade,selectedConta)">Confirmar</button>
                    <button data-target="modal" class="waves-effect waves-light btn blue darken-1 modal-trigger" ng-click="Cacelar()">Cancelar</button>
                </div>
            </div>
        </div>
    </main>
    </body">
</html>
