@{
    Layout = null;
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>Administração Financeira</title>
    @Styles.Render("~/Content/css/materialize.min.css")
    @Scripts.Render("~/Content/js/jquery-3.1.1.min.js")
    @Scripts.Render("~/Content/js/angular.min.js")
    @Scripts.Render("~/Content/js/materialize.min.js")
    @Scripts.Render("~/Content/js/angular-materialize.min.js")

    @Scripts.Render("~/AngularApp/layout/MartinsApp.js")
    @Scripts.Render("~/AngularApp/commons/LocalStorageService.js")
    @Styles.Render("~/Content/css/selecionaUnidade.css")
    @Scripts.Render("~/Scripts/sweetalert2.all.js")
    <script src="@Url.Content("~/AngularApp/selecionaUnidade/selecionaUnidade.js")"></script>
</head>
<body ng-app="MartinsApp" ng-controller="SelecionaUnidade">
    <main>
        <div class="container">
            <div class="row">
                <img class="img-logo" src="../../assets/images/logo.png">
            </div>
            <div class="row">
                <div class="section col s2">
                </div>
                <div class="section col s4">
                    <div input-field>
                        <select id="unidadeSelecionada" ng-model="selectedUnidade" ng-change="setaCodigoUnidade(selectedUnidade)" material-select>
                            <option ng-repeat="value in unidades" value="{{value.CodUnidade}}">{{value.CodUnidade}} - {{value.DesUnidade}}</option>
                        </select>
                        <label>Unidade de Negócio</label>
                    </div>
                </div>

                <div @*ng-if="contas"*@ class="section col s4">
                    <div input-field>
                        <select ng-disabled="contas === undefined" id="contaSelecionada" ng-model="selectedConta" material-select>
                            <option ng-repeat="conta in contas" value="{{conta.ContaModel.CodContaContabil}}">{{conta.ContaModel.CodContaContabil}} - {{conta.ContaModel.DescricaoDaContaContabil}}</option>
                        </select>
                        <label>Conta</label>
                    </div>
                </div>
                <div class="section col s2">
                </div>
            </div>
            <div class="row">
                <div class="centered">

                    <button data-target="modal" class="waves-effect waves-light btn blue darken-1 modal-trigger" ng-click="saveOnTheLocalStorage(selectedUnidade,selectedConta)">Confirmar</button>
                    <button data-target="modal" class="waves-effect waves-light btn blue darken-1 modal-trigger" ng-click="cancelar()">Cancelar</button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
