<!DOCTYPE html>

<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<head>

  <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>

  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/Scripts/jquery/dist/jquery.js")
  @Scripts.Render("~/Scripts/angular.js")
  @Styles.Render("~/Content/materialize-css/dist/css/materialize.css")
  @Scripts.Render("~/bundles/modernizr")
  @Scripts.Render("~/Scripts/hammerjs/hammer.js")
  @Scripts.Render("~/Content/materialize-css/dist/js/materialize.js")
  @Scripts.Render("~/AngularApp/layout/MartinsApp.js")
  @Scripts.Render("~/AngularApp/commons/Http.js")
  @Scripts.Render("~/Scripts/toPromise.js")
  @Scripts.Render("~/Scripts/angular-route.js")
  @Scripts.Render("~/Scripts/angular-route.js")
  @Scripts.Render("~/Scripts/sweetalert2.all.js")
  @Scripts.Render("~/AngularApp/commons/Commons.js")
  @Scripts.Render("~/AngularApp/commons/Interceptor.js")
    @Scripts.Render("~/AngularApp/commons/Config.js")
  @*<base href="/" />*@

  <!-- Polyfill(s) for older browsers -->
  @*<script src="/node_modules/core-js/client/shim.min.js"></script>

    <script src="/node_modules/zone.js/dist/zone.js"></script>
    <script src="/node_modules/systemjs/dist/system.src.js"></script>

    <script src="/systemjs.config.js"></script>
    <script>
        System.import('app').catch(function (err) { console.error(err); });
    </script>*@


  @*@Scripts.Render("~/Content/styles.css") Remover a linha abaixo e resolver isso*@


  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
  <div ng-app="MartinsApp">

    @RenderPage("_header.cshtml")

    <div class="row">
      @RenderPage("_menu.cshtml")
      <div class="col s12 m12 l12">
        <router-outlet> </router-outlet>
      </div>

      @RenderBody()


    </div>

    @RenderSection("Scripts", required: false)
  </div>
</body>
</html>
